<a href="https://colab.research.google.com/github/mascDriver/data-science/blob/main/GEX637_Trabalho_2_%E2%80%93_Busca_Local_Mon%C3%B3tona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
import time
import os

instances = {
    "dj38.tsp": "Djibouti",
    "qa194.tsp": "Qatar",
    "uy734.tsp": "Uruguay",
    "wi29.tsp": "Western Sahara",
    "zi929.tsp": "Zimbabwe",
}

path = '/content/drive/MyDrive/GEX637/'
def create_matriz_instance(filename):
  content = []
  with open(filename) as f:
    for line in f.read().splitlines():
      if line[0].isdigit():
        content.append(line.strip())
  length_tsp = content.__len__()
  dimension = np.ndarray((length_tsp, length_tsp), dtype=int)
  for key_x, x in enumerate(content):
    id_x, x1, y1 = np.array(x.split(), dtype=float)
    for key_y, y in enumerate(content):
      id_y, x2, y2 = np.array(y.split(), dtype=float)
      dimension[key_x][key_y] = round(np.sqrt((x1-x2)**2+(y1-y2)**2))
  return dimension, length_tsp

def run_shift(length_tsp, dimension):
  best_tsp = {'time': [], 'caminho': [], 't-medio': []}
  s = np.arange(length_tsp)
  np.random.shuffle(s)
  elapsed_time_instance =  length_tsp * 0.006
  print(elapsed_time_instance)
  for __ in range(10):
    improved = True
    elapsed_time = 0
    qualidade = float('inf')
    t = time.process_time()
    while(elapsed_time < elapsed_time_instance and improved):
      fixo = s[0]
      improved = False
      for _ in range(length_tsp):
        np.delete(s, fixo)
        s = np.roll(s, -1)
        np.concatenate((fixo, s), axis=None)
        distancia = 0
        for key, value in enumerate(s):
          if value == fixo:
            continue
          try:
            distancia += dimension[value][s[key+1]]
          except IndexError:
            distancia += dimension[value][s[0]]
        if distancia < qualidade:
          qualidade = distancia
          improved = True
          best_tsp['time'].append(distancia)
          best_tsp['caminho'] = [s]
          break
        elapsed_time = time.process_time() - t
      print(__, elapsed_time < elapsed_time_instance and improved, elapsed_time, elapsed_time < elapsed_time_instance, improved)
    best_tsp['t-medio'].append(elapsed_time)
  return best_tsp

def main():
  resultados = []
  for filename in os.scandir(path):
    dimension, length_tsp = create_matriz_instance(filename)
    print(filename.name)
    best_tsp = run_shift(length_tsp, dimension)
    resultados.append({
        'instancia': instances[filename.name],
        'autoria': 'Diogo.Baltazar',
        'algoritmo': 'BTA',
        'q-medio': round(np.mean(best_tsp['time'])),
        'q-desvio': round(np.std(best_tsp['time']), 2),
        't-medio': round(np.mean(best_tsp['t-medio']))
    })
  pd.DataFrame(resultados).to_csv('resultados.csv', index=False)
main()

dj38.tsp
0.228
0 True 0 True True
0 False 0.0108082550000006 True False
1 True 0 True True
1 False 0.007308595000012019 True False
2 True 0 True True
2 False 0.014547475000000532 True False
3 True 0 True True
3 False 0.00983851700001992 True False
4 True 0 True True
4 False 0.020160182000012128 True False
5 True 0 True True
5 True 0 True True
5 True 0 True True
5 False 0.014863595000008445 True False
6 True 0 True True
6 False 0.021938708000021734 True False
7 True 0 True True
7 False 0.011687812000019449 True False
8 True 0 True True
8 True 0 True True
8 True 0 True True
8 False 0.014662063000002945 True False
9 True 0 True True
9 False 0.014644572999998218 True False
qa194.tsp
1.164
0 True 0 True True
0 False 0.05549510899999177 True False
1 True 0 True True
1 True 0 True True
1 False 0.06399985699999888 True False
2 True 0 True True
2 False 0.06223058500000889 True False
3 True 0 True True
3 True 0 True True
3 True 0 True True
3 True 0 True True
3 True 0 True True
3 False 0.08008042299999829 True False
4 True 0 True True
4 True 0 True True
4 True 0 True True
4 True 0 True True
4 False 0.07040782400000012 True False
5 True 0 True True
5 True 0 True True
5 True 0 True True
5 True 0 True True
5 False 0.06315260599998851 True False
6 True 0 True True
6 False 0.056027696000001015 True False
7 True 0 True True
7 True 0 True True
7 True 0 True True
7 False 0.05832341699999688 True False
8 True 0 True True
8 True 0 True True
8 False 0.06792994299999577 True False
9 True 0 True True
9 False 0.06692054399999847 True False
uy734.tsp
4.404
0 True 0 True True
0 True 0 True True
0 False 0.4120096810000007 True False
1 True 0 True True
1 False 0.4605323460000079 True False
2 True 0 True True
2 True 0 True True
2 False 0.4673292440000125 True False
3 True 0 True True
3 False 0.47476087399999756 True False
4 True 0 True True
4 False 0.4267283129999839 True False
5 True 0 True True
5 False 0.48397775200001547 True False
6 True 0 True True
6 True 0 True True
6 False 0.42747433599998885 True False
7 True 0 True True
7 True 0 True True
7 False 0.41429537700000196 True False
8 True 0 True True
8 True 0 True True
8 False 0.45148245999999403 True False
9 True 0 True True
9 True 0 True True
9 True 0 True True
9 False 0.4489692479999974 True False
wi29.tsp
0.17400000000000002
0 True 0 True True
0 False 0.007075490000005402 True False
1 True 0 True True
1 True 0 True True
1 False 0.011068109999996523 True False
2 True 0 True True
2 False 0.00781477499998573 True False
3 True 0 True True
3 True 0 True True
3 True 0 True True
3 False 0.019940767000008464 True False
4 True 0 True True
4 True 0 True True
4 True 0 True True
4 False 0.007742821000022104 True False
5 True 0 True True
5 True 0 True True
5 False 0.009314089000014292 True False
6 True 0 True True
6 False 0.004400936999985561 True False
7 True 0 True True
7 False 0.008581752999987202 True False
8 True 0 True True
8 True 0 True True
8 False 0.011988094999992427 True False
9 True 0 True True
9 True 0 True True
9 False 0.011841296999989481 True False
zi929.tsp
5.574
0 True 0 True True
0 False 0.6655486800000006 True False
1 True 0 True True
1 False 0.6861385570000209 True False
2 True 0 True True
2 False 0.6442285599999877 True False
3 True 0 True True
3 True 0 True True
3 True 0 True True
3 False 0.6921896800000127 True False
4 True 0 True True
4 False 0.6823689809999962 True False
5 True 0 True True
5 False 0.6418236930000205 True False
6 True 0 True True
6 False 0.6577408309999839 True False
7 True 0 True True
7 True 0 True True
7 False 0.6476770890000125 True False
8 True 0 True True
8 False 0.6237220229999991 True False
9 True 0 True True
9 True 0 True True
9 False 0.6603972640000109 True False

In [13]:
pd.read_csv('resultados.csv')

        instancia         autoria algoritmo  q-medio  q-desvio  t-medio
0        Djibouti  Diogo.Baltazar       BTA    28927    311.96        0
1           Qatar  Diogo.Baltazar       BTA    96193    264.09        0
2         Uruguay  Diogo.Baltazar       BTA  1650962   1016.31        0
3  Western Sahara  Diogo.Baltazar       BTA   107202   2077.22        0
4        Zimbabwe  Diogo.Baltazar       BTA  2371908   1453.05        1